.q-button {
  border: none;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &.q-small {
    height: 24px;      
  }

  &.q-large {
    height: 48px;
  }

  &.q-rounded {
    &.q-small {
      border-radius: 12px;
    }
    &.q-large {
      border-radius: 24px;
    }
    border-radius: 18px;
  }

  &.q-primary {
    color: white;
    background: var(--gradient-primary-transparent) var(--color-primary-light);
    &:hover {
      background-color: var(--color-primary-dark);
    }
  }
}
