.wrapper {
  display: grid;
  grid-template-columns: 2fr 5fr;
  height: 100%;
}

.listWrapper {
  height: 100%;
  overflow-y: auto;
  &.closed {
    grid-column: span 2 / span 2;
  }
}

.listHeader {
  font-size: 36px;
  font-weight: 800;
  color: var(--color-primary-very-dark);
  align-self: center;
  margin-bottom: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
